.column-wrapper {
  position: relative;
  div {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: inherit;
  }
  .heading {
    position: absolute;
    background: inherit;
    top: -160px;
    height: 160px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey-blue);
    img {
      margin-bottom: 10px;
    }
  }
  .buy {
    height: 500px;
    align-items: end;
    text-align: center;
  }
  .item {
    img {
      max-width: 20px;
    }
  }
}
