.nav-wrapper {
  img {
    padding: 0.5em;
    max-width: 100%;
  }
  .menu {
    margin-top: 25px;
    text-align: center;
    .lang {
      display: flex;
      flex-direction: row;
    }
  }
}

.logo {
  //animation: frames forwards 1000ms ease-in-out;
}

@keyframes frames {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
