button {
  z-index: 99;
  .title {
    font-size: 15px;
  }
  a {
    padding: 0 1em;
    color: var(--grey-blue);
    font-weight: bold;
    font-size: 14px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
  .sub-menu {
    position: absolute;
    left: 0;
    z-index: 100;
    transition-property: transform;
    transition-duration: 0.3s;
  }
}

.hover-item {
  transition-duration: 0.5s;
  position: relative;
  &:hover {
    transform: translateY(-10px);
  }
}

.hover-item:hover .title{
  color: rgb(var(--red));
}

button:hover > a {
  color: rgb(var(--red));
}

  // TODO: finish so title red when hovered
