.background-wrapper {
  width: 100%;
  margin: auto;
  .comparison-wrapper {
    margin: 0 auto;
    padding: 10em;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    overflow: hidden;
    background: white;
    .feature-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      position: relative;
      animation: framesGrid 3000ms infinite ease;
    }
  }
  background: url("/assets/images/comprasion/soundbars_up.svg"), url("/assets/images/comprasion/mid_cutter_grey.svg"), url("/assets/images/comprasion/mid_cutter_red.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 510px, 100% 500px, 100% 50%;
}

@media (max-width: 1000px) {
  .background-wrapper {
    .comparison-wrapper {
      height: fit-content;
      width: auto;
      border-radius: 0;
      padding: 1em 2em;
      background: var(--grey-bcg);
      .feature-grid {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@keyframes framesGrid {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  70% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
