.description-wrapper {
  position: relative;
  margin-top: -2em;
  .text-wrapper {
    margin: 50px 0 60px;
    h1 {
      font-weight: bold;
      font-style: italic;
      font-size: 28px;
      color: rgb(var(--grey-blue));
      padding: 0px;
      text-align: center;
    }
  }
  background: var(--grey-bcg);
}
.comprasion-parent {
  background: var(--grey-bcg);
}

@media (max-width: 768px) {
  .description-wrapper {
    margin-top: -3em;
    background: var(--grey-bcg);
    z-index: -1;
  }
}
